//- dashboard.pug
extends ./layout.pug

block content
  .container-fluid
    .row
      .col-sm-6
        h3 Administración
      .col-sm-6.text-right
        a(href='/administracion/logout' class='btn btn-linl') Cerrar Sesión
    .row
      .col-sm-12
        .table-responsive
          table(class='table table-hover')
            thead
              tr
                td
                  b ID
                td
                  b NOMBRE
                td
                  b APELLIDO
                td
                  b EMAIL
                td
                  b CÉDULA
                td
                  b TELÉFONO
                td
                  b TÍTULO
                td
                  b INSTITUCIÓN
                td
                  b CARGO
                td
                  b FECHA DE INSCRIPCIÓN
                td
                  b EDITAR
                td
                  b ELIMINAR
            tbody
              each ins in inscritos
                tr
                  td
                    = ins.id
                  td
                    = ins.nombre
                  td
                    = ins.apellido
                  td
                    = ins.email
                  td
                    = ins.cedula
                  td
                    = ins.telefono
                  td
                    = ins.titulo
                  td
                    = ins.institucion
                  td
                    = ins.cargo
                  td
                    = ins.fecha
                  td 
                    a(href="/administracion/modificar/" + ins.id class="btn btn-warning")
                      i(class="fa fa-pencil")
                  td
                    a(href="/administracion/eliminar/" + ins.id onclick="return confirm('¿Seguro que desea eliminar este item?')" class="btn btn-danger")
                      i(class="fa fa-trash")
          
    br
    br
    br
              