//- edit.pug
extends ./layout.pug

block content
  .container
    .row
      .col-sm-12
        h1 Modificar Inscripción #{inscripcion.id}
      .col-sm-8.col-push-sm-2
        form(method="POST" action="/administracion/modificar/"+inscripcion.id)
          .form-group
            label(for="nombre") Nombre:
            input(type="text" class="form-control" name="nombre" id="nombre" required value=inscripcion.nombre)
          .form-group
            label(for="apellido") Apellido:
            input(type="text" class="form-control" name="apellido" id="apellido" requiered value=inscripcion.apellido)
          .form-group
            label(for="email") Correo Electrónico:
            input(type="email" class="form-control" name="email" id="email" requiered value=inscripcion.email)
          .form-group
            label(for="cedula") Cédula:
            input(type="text" class="form-control" name="cedula" id="cedula" requiered value=inscripcion.cedula)
          .form-group
            label(for="telefono") Teléfono:
            input(type="text" class="form-control" name="telefono" id="telefono" requiered value=inscripcion.telefono)
          .form-group
            label(for="titulo") Título (Grado de Instrucción):
            input(type="text" class="form-control" name="titulo" id="titulo" requiered value=inscripcion.titulo)
          .form-group
            label(for="institucion") Institución:
            input(type="text" class="form-control" name="institucion" id="institucion" requiered value=inscripcion.institucion)
          .form-group
            label(for="cargo") Cargo:
            input(type="text" class="form-control" name="cargo" id="cargo" requiered value=inscripcion.cargo)

          button(type="submit" class="btn btn-primary") Modificar
          a(href="/administracion/dashboard" class="btn btn-link") Regresar

          br
          br
          br
          