//- index.pug
extends ./layout.pug

block content
  .container
    .row
      .col-sm-12
        h1 Administración
        form(method="POST" action="/administracion/login")
          .form-group
            label(for="usuario")
            input(type="text" class="form-control" id="usuario" name="usuario" placeholder="Ingrese su usuario" required)
          .form-group
            label(for="password")
            input(type="password" class="form-control" id="password" name="password" placeholder="Ingrese su contraseña" required)
          button(type="submit" class="btn btn-primary") Iniciar Sesión 