doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

    meta(name='description' content='El docente en función directiva, como líder protagónico y participativo  para la transformación social y educativa de las políticas publicas.')
    meta(name='author' content='Miguel Costero <miguel3490@gmail.com>')

    block title
      title Administración

    link(rel='stylesheet' type='text/css' href='http://taller-costero.rhcloud.com/public/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' type='text/css' href='http://taller-costero.rhcloud.com/public/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet' type='text/css' href='http://taller-costero.rhcloud.com/public/css/admin.css')

  body
    block content

    srcipt(src='http://taller-costero.rhcloud.com/public/jquery/jquery.min.js' charset='utf-8')
    script(src='http://taller-costero.rhcloud.com/public/bootstrap/dist/js/bootstrap.min.js' charset='utf-8')
