//- footer.pug
footer
  .container.contenedor
    .cont
      .center-block
        h2 Organizaciones involucradas:
        .text-center
          img(src="public/images/1.png" class="big-brands")
          img(src="public/images/2.png" class="big-brands")
          img(src="public/images/logo.png" class="big-brands")
          img(src="public/images/6.jpg" class="big-brands")
          img(src="public/images/4.jpg" class="big-brands")
        br
        .text-center
          img(src="public/images/12.png" class="img-brands")
          img(src="public/images/7.png" class="img-brands")
          img(src="public/images/8.png" class="img-brands")
          img(src="public/images/9.png" class="img-brands")
          img(src="public/images/10.png" class="img-brands")
          img(src="public/images/11.jpg" class="img-brands")
          img(src="public/images/15.png" class="img-brands")
          img(src="public/images/13.jpg" class="img-brands")
          img(src="public/images/14.jpg" class="img-brands")
          img(src="public/images/cei.png" class="img-brands")
          img(src="public/images/otro.png" class="img-brands")


        p.text-center.copy_r &copy; 2016 Directores del Circuito Educativo I
