//- form.pug
extends ./layout.pug

block title
  title #{titulo}

block content
  include ./navbar.pug

  header
    include ./header.pug

  .container
    .row
      .col-sm-6.col-sm-push-3.container
        section
          h1 Formaliza tu inscripción
          hr
          form(method="post" action="/inscripciones")
            .form-group
              label(for="nombre") Ingrese sus nombres:
              input(type="text" class="form-control" id="nombre" name="nombre" placeholder="Juan Pedro" required)
            .form-group
              label(for="apellido") Ingrese sus apellidos:
              input(type="text" class="form-control" id="apellido" name="apellido" placeholder="Alvares Rincón" required)
            .form-group
              label(for="email") Ingrese su correo electrónico:
              input(type="email" class="form-control" id="email" name="email" placeholder="ejemplo@ejemplo.com" required)
            .form-group
              label(for="cedula") Ingrese su cédula de identidad:
              input(type="text" class="form-control" id="cedula" name="cedula" placeholder="V123456789" required)
            .form-group
              label(for="telefono") Ingrese su número de teléfono:
              input(type="text" class="form-control" id="telefono" name="telefono" placeholder="0424-5624567" required)
            .form-group
                label(for="instruccion") Ingrese su grado de instrucción (título):
                input(type="text" class="form-control" id="instruccion" name="instruccion" placeholder="Ing. en Sistemas" required)
            .form-group
              label(for="nombre_institucion") Ingrese nombre de su institución:
              input(type="text" class="form-control" id="nombre_institucion" name="nombre_institucion" placeholder="U.E.I. Ejemplo" required)
            .form-group
              label(for="cargo") Ingrese el cargo que desempeña:
              input(type="text" class="form-control" id="cargo" name="cargo" placeholder="Docente de Primaria" required)

            br
            button(type="submit" class="btn btn-primary pull-left") Enviar
            input(type="reset" class="btn btn-danger pull-right" value="Borrar Campos")


  include ./footer.pug
