//- index.pug
extends ./layout.pug

block title
  title #{titulo}

block content
  include ./navbar.pug

  header
    include ./header.pug

  .container
    .row
      .col-sm-8.col-sm-push-2.container
        section#intro
          h1.text-center SEMINARIO
          hr
          p.text-justify.
            El docente en función directiva, como líder protagónico y participativo  para la transformación social y educativa de las políticas públicas.
          p.text-justify.
            <strong>Objetivo:</strong>
            Generar un espacio de reflexión entre directores y docentes con función  directiva de instituciones educativas, equipos de gestión, académicos e investigadores en torno a la convivencia escolar.
          p.text-justify.
            <strong>Fecha: </strong> 29 de junio de 2016. <br>
            <strong>Lugar: </strong> Colegio "Antonio Rosmini".

        section#descripcion
          h1.text-center DESCRIPCIÓN DEL SEMINARIO
          hr
          .text-justify
            p El colectivo de directores del Circuito Educativo  del municipio escolar Maracaibo 1, junto a la Coordinación Académica del Municipio Escolar Maracaibo 1, invitan a participar del <strong>“Primer  Seminario: El docente en función directiva, como líder protagónico y participativo  para la transformación social y educativa de las políticas públicas”</strong>, cuyo objetivo es generar un espacio de reflexión entre directores y docentes con función  directiva de instituciones educativas de escuela, equipos de gestión, académicos e investigadores en torno a la convivencia escolar.
            p Enmarcado en los lineamientos del <strong>Programa de Formación para equipos de directores de instituciones educativas</strong>,  esta primera versión ha convocado a personal directivo y docentes en función directiva, de las instituciones educativas de los circuitos educativos pertenecientes al Municipio Escolar Maracaibo 1, así como personal  con funciones de <strong>Enlaces de Formación Permanente</strong> junto a coordinadores municipales  y sus equipos de gestión,  para dialogar en torno a la importancia de la gestión de los directores para una buena convivencia escolar en las instituciones educativas  y cómo gestionarla, a través de talleres de carácter  práctico.
            p Éste Seminario <strong>el docente en función directiva, como líder protagónico y participativo  para la transformación social y educativa de las políticas públicas</strong>, se realizará el día miércoles <strong>29 de Junio de 2016  a partir de las 08:00 hasta las 02:00 hrs. en Colegio "Antonio Rosmini"</strong>.

        section#expositores
          h1.text-center EXPOSITORES
          hr
          .row
            .col-sm-2.center-block
              img(src="public/images/perfil.jpg" class="img-responsive  ")
            .col-sm-10
              h2 Dra. Ruth Vallejo

        section#inscripciones
          .well.text-center
            h2 INCRIPCIONES ABIERTAS
            br
            p.text-justify Inscribite en el seminario haciendo
              a(href="/inscripciones")  click aquí.

  include ./footer.pug
