//- navbar.pug
nav(class="navbar_m")
  .cont
    .links

      a(href="#intro" class="link") INTRODUCCIÓN
      a(href="#descripcion" class="link") DESCRIPCIÓN
      a(href="#inscripciones" class="link") INSCRIPCIÓN
