body {
  font-family: 'Work Sans', sans-serif;
  font-size: 2em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Pridi', serif;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
  color: #6B8C4A;
}

nav.navbar_m {
  background-color: #6B8C4A;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #1D251D;
}



a.link {
  float: left;
  margin: 10px;
 letter-spacing: 2px;
  font-size: 1em;
  text-transform: uppercase;
  color: white;
  font-family: 'Pridi', serif;
}

a.link:hover {
  font-weight: bolder;
}

a.link:link {
  text-decoration: none;
}

.cont {
  display: flex;
  margin: 0;
}

.links {
  margin: auto;
}


.intro-text {
  font-size: 35px;
  color: white;
  font-weight: 700;
	font-family: 'Pridi', serif;
}


header {
  width: 100%;
  position:relative;
  background: url(../images/bg4.jpg) no-repeat top center;
  background-size: cover;
  background-position: center;
  padding: 100px

}

.containersito {
  margin-right: 65px;
  margin-left: 65px;
  background-color: rgba(0,0,0,0.5);
 padding: 53px;
  margin-bottom: 10px;
}

section {
  margin-top: 80px;
  margin-bottom: 80px;
}

section#descripcion {

}

section#inscripciones h2 {
  color: #6B8C4A;
}

footer {
  width: 100%;
  background-color: #101312;
  color: #ecf0f1;

}

.big-brands {
  max-height: 80px;

  float: center;
  margin-right: 11px;
  margin-left:11px;
  margin-top: 11px;
}

.img-brands {

  width: 100px;
  height: 80px;

  float: center;
  margin-right: 11px;
  margin-left:11px;
  margin-top: 11px;
}

.img-logo {
  margin-left: 5px;
  width: 130px;
  height: 150px;
}


.contenedor {
  padding-top: 25px;
  padding-bottom: 20px;
}


.copy_r {
  padding-top: 20px;

  font-weight: lighter;
  font-family: 'Work', serif;
  font-size: .8em;
}
